.light {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 20px;
  border-radius: 50%;
  background: gray;
}

.light.on {
  background: red;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  font-family: Helvetica;
  padding: 10px 5px;
  margin: 0;
  list-style-type: none;
  color: white;
  cursor: pointer;
}

ul li:nth-child(2n) {
  background: red;
}

ul li:nth-child(2n + 1) {
  background: green;  
}
